
html {
/* text-shadow: 1px 1px #5a5252; */
text-shadow: -.5px .5px 0 rgb(220, 169, 196),
                          .5px -.5px 0 rgba(181, 176, 176, 0.58);
                       
  scroll-behavior: smooth;
  background: linear-gradient(-45deg, #d2a99c, #cf7dc9, #a790df, #9fb8d7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: max-content;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }

  75% {
    top: -1.2em;
  }
}

/*  */
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-image: url("img/bg-head.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}




header {
  height: 100vh;
  width: 100%;
}
nav {
 
  height: auto 3vh ;
  padding: 1px;
  width: 100%;
  position: center;
  background-color: rgb(97, 5, 108);
  z-index: 2;
  
}
nav ul {
  display: flex;
  flex-direction: row;
width: 100%; 
 align-items: center;
  /* margin: 0 5px; */
  justify-content: center;
  /* background-color: pink; */

  height: 100%;
  /* width: 100%; */
}
nav ul span {
  margin-right: 20px;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  background-color: none;
  font-size: 20px;
  /* border-radius: 0px 0px; */
  /* color: aliceblue; */
  color: aliceblue;
}
nav ul span:hover {
  /* padding: 10px; */
  background-color: rgb(248, 215, 247);
  /* font-size: 22px; */
  border-radius: 5px 0px;
  transition-timing-function: ease-in-out;
  color: purple;
}
a {
  text-decoration: none;
  transition: color 0.1s ease-in;
  color: white;
}

a:hover {
  
  color: black;
}
.contact-sources a:hover {
  color: purple;
  transition-timing-function: ease-in-out;

}
.intro {
  position: absolute;
  width: 600px;
  top: 30vh;
  left: 30px;
  border: 1px solid black;
  padding: 8px;
  color: rgb(255, 255, 255);
  box-shadow: 5px 0px 5px black;
  font-size: 40px;
}

.intro b {
  color: purple;
  
}

.my-workBtn {
  position: relative;
  z-index: 1;
  border: none;
border-style: groove;
  background-color: transparent;
  color: white;
  padding: 8px 18px;
  cursor: pointer;
}
.my-workBtn:hover {
 transition-duration: 0.2s;
  background: rgb(97, 5, 108);
  border-radius: 5px;
  transition: all 0.2s ease-in;


}
.my-workBtn:hover {
      background-color: purple;
    } */
 .my-workBtn-bg {
  transition: all 0.3s ease-in;
  height: 32.5px;
  width: 0;
  transform: translateY(-36px);
}

/* About section */
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
/*   background-image: url("img/c-bg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 52px 0 52px 0;
  height: 90vh;
  /* width: 106%; */
}


.about {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: rgb(97, 5, 108);
}
.about-data {
  width: 60%;
  color: white;
  margin: 20px 0;
  padding: 10px;
  font-size: 30px;
}

/* my project section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  height: 90vh;
  color: aliceblue;
}

.my-projects {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: rgb(97, 5, 108);
}

.allProjects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 60vh;
    color: white;
}
.projectName {
  display: flex;
  flex-direction: column;
}
.projectName div {
  padding: 10px;
  margin: 1px;
  width: 100%;
  border: 1px solid white;
  cursor: pointer;
}
.projectName div:hover {
  background-color:rgb(97, 5, 108);
}
.aboutProject {
  align-items: center;
  width: 60%;
  height: 188px;
  display: flex;
}
.aboutProject2{
display:none;
}

/* Skills section */
.skillsSection {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.skills {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: rgb(97, 5, 108);
}
.skills-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-data div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.skills-data div div {
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: rgb(97, 5, 108);
  margin: 5px;
}
.skills-data div div:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgb(255, 255, 255);
  /* font-size: 20px; */
  border-radius: 8px 1px;
  color:rgb(97, 5, 108);
}

/* Gallary section */
.Gallarysection{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Gallary{
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color:rgb(97, 5, 108);
  margin: 50px;

}

.gallary-sources1  div{
  padding: 15px;
  display: flex="column";
  flex-direction: row;
  margin: -5px;
}
.gallary-sources2  div{
  padding: 15px;
  display: flex="column";
  flex-direction: row;
  margin: -5px;
}
.gallary-sources1 {
  
  font-size: 15px;
  padding: 10px 15px;
  background-color:rgb(97, 5, 108);
  margin: 15px;
  
}
.gallary-sources2 {
  
  font-size: 15px;
  padding: 10px 15px;
  background-color:rgb(97, 5, 108);
  margin: 15px;
  
}
.gallaryInfo :hover{

  transition: all 0.1s ease-out;
  background-color: rgb(245, 230, 243);
  border-radius: 5px 0px;
  color: rgb(97, 5, 108);
}

/* Contact section */
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  /* background-image: url("img/bg-head.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contact {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color:rgb(97, 5, 108);
  margin: 50px;
}


/* Profile image start */
.pp img {
 margin-top: 40px;
 margin-bottom: 40px;

  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.contactSection{
  overflow: hidden;
display: flex;
  padding: 96px 24px 48px;

  justify-content: center;
  align-items: center;
  background: transparent;
}



.pp img {
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 100%;
  
}

.pp:hover img {
  transform: scale(1.1) rotate(3deg);
}

/* Profile img end */
.contact-sources {
  font-size: 25px;
padding: 30px;
  /* box-shadow: 0 0 6px 6px  rgb(220, 170, 220) inset; */
  /* background: linear-gradient(rgb(156, 68, 156) ,rgb(112, 6, 112)); */

}
.contact-sources a:hover{

color: rgb(220, 170, 220);
}
footer {
  
  background-color:rgb(97, 5, 108);
  font-size: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* responsive */
/* @media screen and (max-width: 700px ) {
  .aboutSection {
    font-size: 50px;
    color: red;
  }
} */
@media screen and (max-width: 800px) {
  .intro {
    font-size: 35px;
    width: 400px;
  }

}

@media screen and (max-width: 600px) {
  .about{
  font-size:40px;
  }
  .intro {
    font-size: 30px;
    width: 300px;
  }

  .about-data {
    font-size: 20px;
  }

  nav ul{
    width: max-content;
  }
  nav ul span {
    font-size: 15px;
    
  }

  .allProjects {
    flex-direction: column;
    font-size: 18px;
  }
  .projectName {
    flex-direction: row;
    text-align: center;
  }
  .Gallarysection{
  
    font-size: 18px;

  }
  .contact-sources {
    font-size: 15px;
  }
  .aboutProject2{
  display:block;
  }
  .aboutProject1{
  display:none;
  }
}
